body {
  background: Black;
  text-align: center;
}
h1 {
  color: White;
  font-family: verdana;
  font-size: 50px;
  text-align: center;
}
a {
  color: aquamarine;
  font-size: 16px;
}
h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
  font-family: verdana;
}
p {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}
div.footer {
  text-align: right;
}
